// Default variable overrides
@import "bs_colors";

@import "configuracion";

@import "../node_modules/bootstrap/scss/bootstrap";

$farmacia-border-radius: 10px;

@import "bordes";

@import "_splide_custom";

body {
    color: map-get($font, color);
    font-family: map-get($font, family);
    font-size: map-get($font, size);
    line-height: map-get($font, line-height);
}

hr {
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(var(--bs-secondary-rgb), 0), rgba(var(--bs-secondary-rgb), 0.75), rgba(var(--bs-secondary-rgb), 0));
}

.navbar2 {
    @include bottom-border();
    width: auto;
    height: 50px;
    background-color: $secondary;
    opacity: 60%;
    text-align: center;
    color: white;
}

.farmacia-de-turno {
    @include secondary-shadow();
    border-radius: $farmacia-border-radius;
    line-height: 44px;
    transition: box-shadow 1s;

    &:hover {
        @include strong-secondary-shadow();
    }
}

.farmacia-box {
    border-radius: $farmacia-border-radius;
}

.img-carousel {
    border-radius: $farmacia-border-radius;

    border: 6px solid $primary;
    border-bottom: 40px solid $primary
}